# Dependencies
node_modules
.pnpm-store

# Environment variables (CRITICAL)
.env
.env.production
.env.development
.env.local

# Build output
dist
build

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
logs
*.log

# OS System Files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# IDEs
.vscode
.idea